@import "tailwindcss";

@font-face {
    font-family: 'ClashDisplay';
    src: url('/Fonts/OTF/ClashGrotesk-Regular.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplayBold';
    src: url('/Fonts/OTF/ClashGrotesk-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

.font-bold, .font-extrabold{
    font-family: ClashDisplayBold, sans-serif;
}

.font-normal{
    font-family: ClashDisplay, sans-serif;
}

@theme{
    --color-darkblue: #364153;
    --color-accent: #26A224;
  }

@keyframes fade-in {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in { animation: fade-in 1s ease-out; }
@keyframes fade-in-up {
    from { opacity: 0; transform: translateY(40px); }
    to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in-up { animation: fade-in-up 1.2s cubic-bezier(0.23, 1, 0.32, 1); }

.leaflet-container a{
    color: white !important;
}

.leaflet-container a.leaflet-popup-close-button{
    color: gray !important;
}

.leaflet-touch .leaflet-bar a{
    color: black !important;
}

.mapcomponent{
    z-index: 1000 !important;
}

@media (max-width: 768px) {
    .leaflet-popup-content-wrapper{
        display: flex;
        justify-content: center;
        width: 200px !important;
    }
}
